$icomoon-font-path: "fonts" !default;

$icon-notification-line: \e91d;
$icon-business-man: \ea69;
$icon-chat-bubble-circle-question-mark: \eb2d;
$icon-chat-bubble-square-question-mark: \eb51;
$icon-chat-bubble-square-smiley: \eb56;
$icon-messages-line: \eb5d;
$icon-contact-book-1: \ec08;
$icon-content-view-column: \ec46;
$icon-content-view-content: \ec47;
$icon-email-envelope: \ed33;
$icon-fence-caution: \ed89;
$icon-flash-refresh: \ef58;
$icon-flash: \ef5a;
$icon-hide: \f072;
$icon-lock-12: \f1d0;
$icon-lock-2: \f1d1;
$icon-lock-22: \f1d2;
$icon-lock-3: \f1d3;
$icon-lock-unlock-1: \f1d5;
$icon-lock-unlock-2: \f1d6;
$icon-lock-unlock-3: \f1d7;
$icon-logout-1: \f1de;
$icon-mobile-phone-1: \f1fc;
$icon-network-business: \f2de;
$icon-network-global: \f2ed;
$icon-organization-network: \f323;
$icon-paperplane: \f339;
$icon-pen-brush: \f348;
$icon-safety-buoy: \f476;
$icon-settings-1: \f4d9;
$icon-space-rocket: \f608;
$icon-tag-1: \f686;
$icon-tag-2: \f687;
$icon-tag-double-1: \f68e;
$icon-tag-double-2: \f68f;
$icon-user-add: \f755;
$icon-user-group-conversation: \f776;
$icon-user-home2: \f792;
$icon-user-shield-1: \f7a1;
$icon-alarm2: \f8c3;
$icon-chat-bubble-circle-question-mark2: \e908;
$icon-chat-bubble-square-question-mark2: \e909;
$icon-chat-bubble-square-smiley2: \e90a;
$icon-chat-bubbles-square2: \e900;
$icon-email-envelope2: \e901;
$icon-hide2: \e907;
$icon-lock-14: \f8c4;
$icon-lock-24: \f8c6;
$icon-lock-23: \f8c7;
$icon-lock-32: \f8c8;
$icon-lock-unlock-12: \f8ca;
$icon-lock-unlock-22: \f8cb;
$icon-lock-unlock-32: \f8cc;
$icon-mobile-phone-12: \e902;
$icon-safety-buoy2: \e90b;
$icon-tag-12: \e903;
$icon-tag-22: \e904;
$icon-tag-double-12: \e905;
$icon-tag-double-22: \e906;
$icon-google-plus: \ea8b;
$icon-google-plus2: \ea8c;
$icon-google-plus3: \ea8d;
$icon-facebook: \ea90;
$icon-facebook2: \ea91;
$icon-instagram: \ea92;
$icon-whatsapp: \ea93;
$icon-telegram: \ea95;
$icon-twitter: \ea96;
$icon-vk: \ea98;
$icon-sina-weibo: \ea9a;
$icon-youtube: \ea9d;
$icon-twitch: \ea9f;
$icon-vimeo: \eaa0;
$icon-vimeo2: \eaa1;
$icon-behance: \eaa8;
$icon-behance2: \eaa9;
$icon-github: \eab0;
$icon-linkedin: \eac9;
$icon-pinterest: \ead1;
$icon-pinterest2: \ead2;

