// Box shadows
%box-shadow-high {
	@include box-shadow3(0 0 0 1px rgba(60, 50, 170, 0.01), 
						 0px 5px 20px 0 rgba(60, 50, 170, 0.1), 
						 0 1px 2px 0 rgba(60, 50, 170, 0.05));
}
%box-shadow-low {
    @include box-shadow3(0 0 0 1px rgba(60, 50, 170, 0.03), 
			    		 0 2px 5px 0 rgba(60, 50, 170, 0.1), 
			    		 0 1px 2px 0 rgba(60, 50, 170, 0.08));
}

// Box shadow header bar
%box-shadow-headerbar {
	@extend %box-shadow-high;
}
// Box shadow card
%box-shadow-card {
	@extend %box-shadow-low;
}
// Card
@mixin card {
	display: inline-block;
    position: relative;
    width: 100%;
	@extend %box-shadow-card;
    @include border-radius(6px);
    color: rgba(0,0,0, 0.87);
    background: $color__white;
    border: none;
}